In [2]:

import pandas as pd

import requests
import json
import os

In [8]:
combine_csv = "nfl resources/NFL Combine 2017 - Quantitative.csv"
url = "nfl resources/NFL Combine 2017 - Quantitative.csv"
combine_df = pd.read_csv(combine_csv)
combine_df.head()

,Player,College,Position,Pos Order,ID,Grade,Height,Arm Length,Weight,Hands,40 Yard Dash,Bench Press,Vertical Jump,Broad Jump,Three Cone Drill,20 Yard Shuttle,60 Yard Shuttle
0,Mitchell Trubisky,North Carolina,QB,0,QB14,6.7,74.0,32.000,222.0,9.500,4.67,NaN,27.5,116.0,6.87,4.25,NaN
1,Deshaun Watson,Clemson,QB,0,QB15,6.27,74.0,33.000,221.0,9.750,4.66,NaN,32.5,119.0,6.95,4.31,NaN
2,Patrick Mahomes,Texas Tech,QB,0,QB10,5.9,74.0,33.250,225.0,9.250,4.80,NaN,30.0,114.0,6.88,4.08,NaN
3,DeShone Kizer,Notre Dame,QB,0,QB06,5.88,76.0,33.125,233.0,9.875,4.83,NaN,30.5,107.0,7.40,4.53,NaN
4,Nathan Peterman,Pittsburgh,QB,0,QB11,5.85,74.0,32.000,226.0,9.875,4.82,NaN,31.0,110.0,7.14,4.31,NaN